.about__text {
    font-family: "Open Sans", serif;
    font-size: 22px;
    text-align: center;
    max-width: 600px;
    margin: 70px auto;
}

.quick__title {
    font-family: "Oswald", serif;
    font-size: 37px;
    text-align: center;
    color: #374151;
}

.quick__grid {
    margin-top: 20px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.quick__card {
    padding: 12px;
    border-radius: 12px;
    background-color: #FFFDCE;
    font-family: "Open Sans", serif;
    font-size: 20px;
    cursor: pointer;
}

.quick__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.quick__card h3 {
    font-size: 26px;
}

.quick__card p {
    font-size: 22px;
}

.explore-link {
    text-decoration: none;
    color: inherit;
}


@media (max-width: 500px) {
    .hero, .about, .quick {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quick__grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .about__text {
        font-size: 20px;
    }

    .quick__title {
        font-size: 30px;
    }

    .quick__card h3 {
        font-size: 20px;
    }

    .quick__card p {
        font-size: 17px;
    }
}