.favoritesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favoritesText {
    margin: 15px 0 30px;
    font-size: 22px;
    font-family: "Open Sans", serif;
    opacity: 0.75;
}

.favorite-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 26px;
    margin-bottom: 40px;
}